.layoutContainer {
    display: Grid;
    grid-template-rows: 10vh ;
    }
.layoutBody {
    display: Grid;
    grid-row: 2/3;
    min-height: 90vh;
    background-image: url('../../../assets/images/mainbg.svg');
    background-attachment: fixed;
    background-size: cover;
  
}